.button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:0.5em;
    background-color: transparent;
    /* background-color:#f0f0f0; */
    color:gray;
    border:0px solid transparent;
    cursor:pointer;
    padding:0.5em;
    width:fit-content;
    /* letter-spacing:-0.5px; */
    font-size:0.8em;
    cursor:pointer;
    transition:0.3s;
}
.button:hover{
    transform: scale(1.05);
    /* background-color:#f0f0f0; */
    /* border-radius:15px; */
    color: black;
}