.button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1em;
    background-color:#f0f0f0;
    color:black;
    border:0px solid transparent;
    cursor:pointer;
    padding:0.7em 1em;
    letter-spacing:-1px;
    font-size:1em;
    cursor:pointer;
    transition:0.3s;
}
.button:hover{
    transform: scale(1.1);
    background-color:black;
    color: white;
    font-style: italic;
}