.button{
    background-color:black;
    border:1px solid black;
    border-left: 2px solid black;
    color:white;
    cursor:pointer;
    padding:0.5em 1em;
    font-size:0.7em;
    cursor:pointer;
}
.button:hover{
    background-color:white;
    color: black;
}