.singlePlace{
    padding:1em 1em;
    margin:0.25em 1em 0em 1em;
    border-radius: 5px;
    /* background-color: var(--sgLightGray); */
    background: radial-gradient(86.36% 107.55% at 6.49% 12.32%,rgba(255, 255, 255, 0.5) 0%,rgba(255, 255, 255, 0.5) 100%);
    backdrop-filter: blur(15px);
    cursor:pointer;
    transition: 0.2s;
}
.singlePlace:hover{
    border-radius: 15px;
    z-index: 100;
    color:gray;
    background:black;
    color:white;
    /* transform:scale(0.95); */
    transform:scale(1.05);
}