@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&family=Shippori+Antique+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

:root{
  --sgGray:rgb(207, 207, 207);
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: Helvetica Neue, sans-serif; */
  /* font-family: 'Shippori Antique', sans-serif; */
  font-family: 'Noto Sans JP', sans-serif;

  letter-spacing:-0.5px;
}

.seiryoGroundFont{
  font-family: 'Shippori Antique', sans-serif;
  font-weight:normal;
}

h1{
  font-size:3.5em;
  letter-spacing:-2px;
}
h2{
  font-size:2em;
}

h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

iframe{
  border: 1px solid var(--sgGray);
  filter: grayscale(1);
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  border-color: black;
  border: none;
  overflow-x: scroll;
  color:black;
}

th,td {
  padding: 0.5em 1em;
}

th {
  background-color:  white;
  font-weight: bold;
  border:1px solid black;
}

td {
  border:1px solid black;
}

a{
  font-size: 0.8em;
  text-decoration: underline;
  text-decoration-style: dashed;
  /* text-decoration:none; */
}
a::after{
  content: "↗︎";
}
a:hover{
  text-decoration-style: none;
}

.grid-2fr-1fr{
  display: grid;  
  gap: 1em;
}

.grid-1fr-2fr{
  display: grid;  
  gap: 2em;
}

@media screen and (max-width: 900px) and (min-width: 0px) {
  .grid-2fr-1fr{
    grid-template-columns: 1fr;
	}
  .grid-1fr-2fr{
    grid-template-columns: 1fr;
	}
}
@media screen and (min-width: 901px) {
  .grid-2fr-1fr{
    grid-template-columns: 2fr 1fr;
	}
  .grid-1fr-2fr{
    grid-template-columns: 1fr 2fr;
	}
}

main{
  padding:5%;
}

@media screen and (max-width: 500px) and (min-width: 0px) {
  .pagePadding{
    padding: 0% 2.5%;
	}
  .stickySide{
    display: grid;
    grid-template-columns:1fr;
    gap:0;
  }
}
@media screen and (max-width: 900px) and (min-width: 501px) {
  .pagePadding{
    padding: 0% 5%;
  }
  .stickySide{
    display: flex;
    align-items: flex-start;
    gap:1em;
  }
}
@media screen and (max-width: 2000px) and (min-width: 901px) {
  .pagePadding{
    padding: 0% 15%;
  }
  .stickySide{
    display: flex;
    align-items: flex-start;
    gap:1.5em;
  }
}

p{
  font-size:0.8em;
}

input[type="text"] {
  padding:1em;
  border-radius: 5px;
  outline: none;
}

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background-color: #c7c7c7;
	height: 2px;
	cursor:pointer;
	/* width: 100%; */
}
input[type="range"]:focus,
input[type="range"]:active {
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
	border:1px solid var(--sgGray);
  border-radius: 50%;
	width: 20px;
	height: 20px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
	color:#a2a2a2;
	transition: 0.5s;
}
input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(0.9);
	box-shadow: 0px 0px 30px var(--sgGray);
}
input[type="range"]::-webkit-slider-thumb:active {
	transform: translateY(-2px);
}