@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&family=Shippori+Antique+B1&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, sans-serif;
  letter-spacing:-0.5px;
}

.seiryoGroundFont{
  font-family: 'Shippori Antique', sans-serif;
  letter-spacing:-2px;
  font-weight:normal;
}

h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main{
  padding:5%;
}

iframe{
  border: 1px solid black;
  filter: grayscale(1);
}

table {
  border-collapse: collapse;
  border-color: black;
  border: none;
  overflow-x: scroll;
  color:black;
}

th,td {
  padding: 0.5em 1em;
}

th {
  background-color:  white;
  font-weight: bold;
  border:1px solid black;
}

td {
  border:1px solid black;
}

a{
  text-decoration: underline;
  text-decoration-style: dashed;
  /* text-decoration:none; */
}
a::after{
  content: "↗︎";
}
a:hover{
  text-decoration-style: none;
}



.grid-1fr-1fr-1fr-1fr-1fr{
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
}

.grid-1fr-2fr{
  display: grid;  
  gap: 2em;
}

@media screen and (max-width: 900px) and (min-width: 0px) {
  .grid-1fr-2fr{
    grid-template-columns: 1fr;
	}
}
@media screen and (min-width: 901px) {
  .grid-1fr-2fr{
    grid-template-columns: 1fr 2fr;
	}
}