.postThumbNail{
    cursor:pointer;
    background-color:white;
    color:black;
    border-bottom:1px solid var(--sgGray);
    border-right:1px solid var(--sgGray);
    padding:2.5em 0.5em;
    display:flex;
    justify-content: center;
    flex-direction:column;
    justify-content: space-between;
    transition: 0.3s;
}
.postThumbNail h1{
    margin:0
}
.postThumbNail:hover{
    z-index: 100;
    color:gray;
    background-color:black;
    color:white;
    border-radius: 5px;
    border:1px solid black;
    /* box-shadow: 0px 0px 5px rgb(192, 192, 192); */
    transform:scale(0.9);
    /* transform: rotateX(15deg); */
    /* rotateY(-2deg) */
    /* box-shadow: -5px 20px 15px rgb(192, 192, 192); */
}