.updatePostThumbNail{
    cursor:pointer;
    background-color:white;
    color:black;
    border-bottom:1px solid var(--sgGray);
    padding:0.5em;
    display:flex;
    justify-content: center;
    flex-direction:column;
    justify-content: space-between;
    transition: 0.3s;
}
.updatePostThumbNail:hover{
    background-color:black;
    color:white;
}